/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 15px;
  color: #535353;
  font: inherit;
  vertical-align: baseline;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Poppins',Arial,Verdana,Tahoma,Helvetica, sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
  display: block;
}

/**
 * Box model
 */
html {
  box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    background-color: #efefef;
    width: 940px;
    padding-bottom: 5px;
    padding-top: 10px;
}

h2 {
  padding-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 25px;
  font-weight: bold;
  line-height: 32px;
  color: #FFFFFF;

}

h3 {
  background-color: #333333;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 5px;
  font-size: 15px;
  margin-bottom: 15px;
}

.grey {
  background-color: #efefef;
  color: #FFFFFF;
}

.contentwidth {
  width: 1250px;
  margin: auto;

}

.contentwidth-werbebanner {
  width: 1250px;
  margin: auto;
  height: 3400px;
}
/* Helper */
.floatright {
  float: right;
}

header {
  height: 300px;
  width: 1250px;
  margin: auto;

}

.topheader-bg {
  background-color: #333333;
  height: 40px;
}


.topheader-bg ul {
  float: right;
  padding-top: 15px;
}

#contact {
    margin-right: 15px;
}

#contact li  {
  display:inline;
  font-size: 12px;
  margin-right: 2px;
  margin-left: 15px;
}
.topheader-bg ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

.dropdown li a {
  text-decoration: none;
  color: #FFFFFF;
}

#logo-bereich {
    padding-top: 35px;
    width: 360px;
    margin: auto;
}


#logo-img {
  width: 360px;
}

/* Submenue */

#cssmenu {
  height: 80px;
  text-align: left;
  float: right;
  padding-top: 35px;
}

#cssmenu li {
    display:inline;
    position:relative;
    padding-left: 25px;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 5px;

}

/* Social Icons */
.inline {
  display: inline;

}

.social-icons img {
  width: 20px;
  height: 20px;
  margin-right: 4px;

}

main {
  margin-bottom: 25px;

}
.werbebanner {
  width: 730px;
}

#werbebanner-top {
  width: 740px;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 20px;
}

/* Col1 nur oben */
.nebenthemen {
  padding-bottom: 25px;
  margin-bottom: 5px;


}

.nebenthemen ul li a {
    text-decoration: none;
}
.nebenthemen ul li  {
  display: block;
  line-height: 16px;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 25px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #c5c5c5;

}
.nebenthemen-text {
  padding-left: 5px;
  font-size: 14px;
}



/*Topbanner mit Farbverlauf und Text auf Bild */
.topbanner-img {
  width: 623px;
  height: 374px;
  background-image: url("../../img/lat/per/topbanner.jpg");
  background-repeat: no-repeat;
}

.topbanner-spacer {
  height: 235px;
}

.topbanner-farbverlauf {
  height: 130px;
  background: linear-gradient( rgba(51,51,51,0), rgba(51,51,51,1));
  border-bottom: 9px solid #333333;
}

.square-ad {
  margin-top: 80px;
}

.square-ad-img {
  width: 240px;
}

/* GRid Layout */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;

}

.grid-dark {
  background-color: #333333;
  color: #FFFFFF;
}


/* GRid Layout */
.grid-container-2er {
  display: grid;
  margin-top: 20px;
  grid-template-columns: auto auto;
  gap: 15px;

}

/* GRid Layout */
.grid-container-4er {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  margin-bottom: 25px;

}

.autor-4er {
  color: #999999;
  padding-bottom: 5px;
  font-size: 13px;
}

.grid-text {
  padding: 5px;
}

.bild-ueber-text-text {
    font-size: 19px;
    line-height: 22px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.bild-ueber-text-img {
  width: 303px;


}

.img-full {
  height: 397px;
  width: 305px;
}

.bild-ueber-text-img-4er {
  width: 210px;
  height: 120px;
  margin-bottom: -5px;
  padding: 5px;
  background-color: #efefef;

}

.bild-ueber-text-text-4er {
  font-size: 16px;
  line-height: 22px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  background-color: #efefef;

}


.text-ueber-bild-text {
  font-size: 19px;
  line-height: 22px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  padding-top: 25px;
}

.text-ueber-bild-img {
  width: 300px;
}


.bild-ueber-text-img {
  width: 300px;
  padding-bottom: 15px;

}


h4 {
  margin-top: 35px;
  margin-bottom: 45px;
}

.thema {
  color: #999999;
  font-size: 14px;
  text-transform: uppercase;
}

.autor {
  color: #999999;
  padding-bottom: 15px;
  font-size: 13px;
}

h5 {
  margin-top: 35px;
  font-size: 22px;
  margin-bottom: 45px;
}
.grid-thema {
  color: #999999;
  margin-top: 95px;
  font-size: 22px;
  text-transform: uppercase;
}

.grid-autor {
  color: #999999;
  padding-bottom: 15px;
  font-size: 18px;
}

.grid-item {
  background-color: #efefef;
  text-align: center;
  width: 302px;
}

.grid-item-4er {
  background-color: #efefef;
  text-align: left;
  width: 210px;
}

h6 {
  margin-top: 5px;
  margin-bottom: 15px;
}


/* Scrollbar rechts */
.scrollbar {
    width: 305px;
    float: left;
    color: #333333;
    text-align: left;


}
.scrollbar-scroll {
     overflow: scroll;
     height:305px;
}

.scrollbar-text {
   font-size: 15px;
   margin: 0px 25px 15px 20px;
   padding-bottom: 20px;
  border-bottom: 1px dashed #999999;
}

.scrollbar-time {
  color: #FF0103;
  padding-right: 5px;
}

.scrollbar a {
  text-decoration: none;
}



/*Footerstyles */
.footer {
  width: 940px;
  background-color: #333333;
  margin: auto;
  height: 300px;
  color: #FFFFFF;
  font-size: 17px;

}
#footer-logo-img {
  width: 230px;
  margin-left: -5px;
  margin-bottom: 15px;
}

footer ul li a {
  font-size: 14px;
  color: #FFFFFF;

}

footer a {
  font-size: 14px;
  color: #FFFFFF;
}

.footer-padding {
  padding-bottom: 45px;
}

.footer-font {
  font-size: 14px;
  color: #FFFFFF;
}

.marginleft {
  margin-left: 55px;
}
.margintop {
  margin-top: 15px;
}

.font-weight-600 {
  font-size: 14px;
  color: #FFFFFF;

}
.rowfooter {
  padding-top: 35px;
  padding-left: 55px;
  padding-right: 45px;
  height: 220px;
  border-right: 1px solid #c5c5c5;
  width: 210px;
  float: left;
}

.lastrow {
  border-right: 0px solid #c5c5c5;
}

.li-dot {
  display: block;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.li-dot a {
  text-decoration: none;
}

.footer-margin {
  margin-right: 46px;
}

#footerbg2 {
  width: 940px;
  margin: auto;
  height: 30px;
  text-align: center;
  color: #666666;
  padding-top: 13px;
  font-size: 14px;
}
