/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 15px;
  color: #535353;
  font: inherit;
  vertical-align: baseline;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Adamina', serif
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
  display: block;
}

/**
 * Box model
 */
html {
  box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
    background-color: #efefef;
    width: 940px;
    padding-bottom: 5px;
    padding-top: 10px;
}

h2 {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 40px;
  font-size: 35px;
  line-height: 32px;
  color: #FFFFFF;

}

h3 {
  background-color: #333333;
  color: #FFFFFF;
  text-transform: uppercase;
  padding-left: 15px;
  padding-top: 9px;
  padding-bottom: 5px;
  font-size: 10px;
  margin-bottom: 15px;
}

.grey {
  background-color: #efefef;
  color: #FFFFFF;
}

.contentwidth {
  width: 1250px;
  margin: auto;
  height: 4000px;

}

.contentwidth-werbebanner {
  width: 1250px;
  margin: auto;
}
/* Helper */
.floatright {
  float: right;
}

.headerwidth {
  height: 210px;
  width: 1250px;
  margin: auto;

}

#logo-bereich {
    padding-top: 15px;
    width: 360px;
    margin: auto;
}


#logo-img {
  width: 360px;
}

/* Submenue */

#cssmenu {
  height: 80px;
  text-align: left;
  float: right;
  padding-top: 35px;
}

#cssmenu li {
    display:inline;
    position:relative;
    padding-left: 25px;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 5px;

}


/* Social Icons */
.inline {
  display: inline;

}

.inline-footer {
  padding-right: 12px;
  padding-left: 12px;
}


.social-icons img {
  width: 20px;
  height: 20px;
  margin-right: 4px;

}

nav {
  padding: 0px 0px 5px 0px;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
}

#nav {
  width: 640px;
  margin: auto;
  padding-top: 5px;
}

nav ul li a {
  margin-right: 25px;
  text-decoration:none;
  font-size: 12px;
  text-transform: uppercase;

}

.navlast a {
    margin-right: 0px;
}
main {
  margin-bottom: 25px;

}
.werbebanner {
  width: 730px;
}

#werbebanner-top {
  width: 740px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 5px;
}

/*Topbanner mit Farbverlauf und Text auf Bild */
.topbanner-img {
  width: 700px;
  height: 550px;
  background-image: url("../../img/lat/els/topbanner.jpg");
  background-repeat: no-repeat;
}

.topbanner-spacer {
  height: 290px;
}

.topbanner-farbverlauf {
  height: 190px;
  padding-top: 5px;
  width: 400px;
  background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8));
}

.square-ad {
  margin-top: 20px;
  width: 250px;
  float: left;
}

.square-ad-img {
  width: 250px;
  margin-bottom: 15px;

}

.dreier-square-ad {
  width: 250px;
  float: left;

}
.dreier-square-ad-img {
  width: 250px;
  height: 300px;
  margin-top:5px;
  float: left;

}

.square-ad-img {
  width: 250px;
  margin-bottom: 15px;

}

.topbanner-wrapper {
  float: left;
  margin-top: 25px;
  margin-right: 25px;
}

/*Helper*/
.floatleft {
  float: left;
}
.bild-ueber-text-wrapper {
  margin-top: 25px;
  float: left;
  width: 250px;
}


.bild-ueber-text-text {
    font-size: 19px;
    line-height: 22px;
    padding-right: 20px;
    text-align: left;
  }

.abstand-rechts {
  margin-right: 30px;
}


.bild-ueber-text-img {
  width: 230px;
  height: 150px;

}

.top-wrapper {
  height: 550px;
}



.dreier-bild-ueber-text-wrapper {
  margin-top:25px;

}
  .dreier-bild-ueber-text {
      float: left;
      width: 325px;
      height: 330px;
}


.dreier-bild-ueber-text-text {
    font-size: 19px;
    line-height: 22px;
    padding-right: 20px;
    text-align: left;
  }

.dreier-bild-ueber-text-img {
  width: 300px;
  height: 160px;
}

.dreier-text {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-right: 35px;
}

h4 {
  margin-bottom: 10px;
  color: #111111;
  font-size: 23px;
  line-height: 23px;
  padding-right: 35px;

}

h5 {
  margin-top: 5px;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #111111;
  padding-bottom: 5px;
  margin-right: 15px;
  border-bottom: 1px solid #999999;
}

h6 {
  background-color: #C41B22;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 5px 10px 5px 10px;
  font-size: 10px;
  margin: 25px 15px 0px 35px;
  width: 45px;

}

.thema {
  color: #C41B22;
  font-size: 14px;
  font-weight:bold;
  text-transform: uppercase;
  margin-top:12px;
  margin-bottom: 7px;
}

article a {
  text-decoration: none;
}


.dreier-bild-ueber-text-bild {
  float: left;
}


/*Footerstyles */

footer {
  background-color: #111111;
}


.footer {
  width: 1250px;
  margin: auto;
  height: 150px;
  color: #FFFFFF;
  font-size: 17px;

}
#footer-logo-img {
  width: 230px;
  margin-left: -5px;
  margin-bottom: 15px;
}

footer ul li a {
  font-size: 14px;
  color: #FFFFFF;

}

footer a {
  font-size: 14px;
  color: #FFFFFF;
}

.footer-padding {
  padding-bottom: 45px;
}

.footer-font {
  font-size: 14px;
  color: #FFFFFF;
}

.marginleft {
  margin-left: 55px;
}
.margintop {
  margin-top: 15px;
}

.font-weight-600 {
  font-size: 14px;
  color: #FFFFFF;

}
.rowfooter {
  padding-top: 45px;
  padding-right: 45px;
  height: 70px;
  border-bottom: 1px solid #999999;
  float: left;
  width: 100%;
}

.rowfooter a {
  text-decoration: none;
  color: #999999;
}

#footerbg2 {
  width: 1250px;
  margin: auto;
  height: 65px;
  color: #999999;
  font-size: 14px;
}

#copyright {
  width: 600px;
  float: left;
}

#social-wrapper {
  width: 600px;
  float: right;
}

.social-icons {
  width: 110px;
  float: right;
  margin-left: 20px;
}

.social-img {
  width: 25px;
  margin-right: 14px;
}
