html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer,main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-user-select: none;
  -webkit-user-select: none;
  font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
	display: block;
}


html {
  background-color: #FFFFFF;
  font-family: "SimSun","宋体","Arial Narrow",HELVETICA;
	line-height:22px;
	text-align: left;
}

body {
  background-color:#fff;

	display: block;
}


ul {
	list-style: none;
}

/* Breite der einzelnen Navipunkte (also pro chin. Zeichen)*/
nav ul li {
	display:inline;
	text-decoration:none;
  text-align: left;
  padding-right: 18px;
  font-size: 14px;
}

nav ul {
    padding-bottom: 10px;
}

nav ul ul li {
    background-color: #efefef;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 45px;
    line-height: 30px;
    text-align: center;
}


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #1579D7;
}

.cn-top-head-li {
  display:inline-block;
  text-decoration:none;
}

/*Links über dem Logobereich */

#cn-top-head-wrapper {
  background-color: #efefef;
  height: 38px;
  border-bottom: 1px solid #dedede;
}

#cn-top-head-width {
  display: block;
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

}

#cn-top-head-nav  {
  text-align: right;
  margin-right: 58px;
}

#cn-top-head-left {
  width: auto;
  float:left;
}

#switcher:hover {
	  color: #1579D7;
}

.main {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}



/*Naviboxen oben */


.box  {
  padding-top:8px;
  display: inline-block;
  line-height: 17px;
  text-align: left;
  width: 213px;
  float: left;
}

#box1 {
  border-left:none;
  margin:0;
  float:left;


}

.box2  {
  border-left: 1px solid #dedede;
  padding-left:31px;
}

.boxlast {
  padding-top:8px;
  float:left;
  display: inline-block;
  line-height: 17px;
  text-align: left;
  width: 215px;
}

.search_padding {
  padding-top: 15px;
}

#logoleiste {
  height: 60px;
  margin-top: 20px;

}



#logo {
  width: 160px;
  float:left;
}

#suche {
  width: 380px;
  margin-left: 40px;
  border-radius: 4px;
  border-right: none;
  height: 35px;
  border-style: ridge;
  border-color: #dbdbdb;
  border-width:1px;
  border-style: solid;

}


#search_lupe {
  height: 20px;
  padding: 5px;
  background-color: #1579D7;
  border-width:2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #1579D7;
}

#search_lupe:hover {
  background-color: #004b91;
}



#submenu {
  display: none;
  position: absolute;
  margin-left: 147px;
  padding-top: 6px;
}

#submenu_0 {
  margin: 0;
  width: 60px;
}


#submenu_0:hover #submenu {
  display: block;
}



#arrow_submenu {
width: 11px;

}

#qr_schrift {
  padding-top: 20px;
  text-align: right;
  width: 250px;
		margin-left: 50px;
}


#qr_img_div {
width: 120px;


}
#qr_img {
  width: 100px;
  padding-left: 5px;
  position: absolute;
  display: none;
}


#qr_schrift:hover {
  color: #1579D7;

}

#qr_schrift:hover #qr_img {
  display: inline-block;
}

#contact {
  width: 222px;
	float: left;
	text-align: right;
  padding-top: 18px;

}
/* Slideshow*/

/* Slideshow container */
.slideshow-container {
margin-top: 20px;
float: left;

}

/* The dots/bullets/indicators */
.dot {
  height:0px;
  width: 0px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.img-slider {
	width: 992px;
	height: 395px;
}

/* Slideshow container links */
.slideshow-container1 {
	width: 200px;
	height: 270px;
	margin-right: 25px;
	margin-top: 10px;
	border: 1px solid #dedede;
	float: left;

}

.img-slider1 {
	width: 200px;

}

/*Bildunterschrift Slider links*/
.sider1_img_desc {
	font-size: 12px;
	line-height: 11px;
	padding-top: 7px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

/*Seitenmenü neben Slider */
.boxseitenmenu {
	  line-height: 17px;
	  width: 150px;
	  float: left;
		margin-right: 0px;
		margin-top: 20px;
		padding-top: 15px;
		padding-left: 13px;
		padding-right: 10px;
		background-color: #efefef;
		height: 380px;
}

#liste-links-seitenmenu {
		letter-spacing: 1px;
		padding-bottom: 8px;

}

#liste-links-seitenmenu li {
	padding-bottom: 10px;

}

.listenStyleDisc {
	list-style: disc;
	color:#1579D7;
	font-size:8px;
	padding-left: 13px;
	padding-bottom: 1px;
}

#liste-links-seitenmenu a {
	font-size: 16px;
}

/*Werbebanner top (wird nur eingeblendet wenn Slider display none)*/
.werbebanner-breit {
	width: 1040px;
	margin-top: 20px;
	float: left;
}

.werbebanner-schmal {
	width: 121px;
	float: left;
	margin-left: 5px;
	margin-top: 21px;
	height: 95px;

}

#werbebanner-top {
	display: none;
}

#werbebanner-top2 {
		display: none;
}
.werbebanner-breit2 {
	width: 1170px;
	margin-top: 20px;

}

 /*Der Schalter zum Umstellen von Slider auf Werbebanner*/
#switcher {
	font-weight: bolder;
}

/*Definition des 3Col-Layouts*/
.col1 {
	width: 500px;
	height: 300px;
	margin-right: 25px;
	margin-top: 25px;
	border: 1px solid #dedede;
	float: left;

}

.col2 {
	width: 543px;
	margin-right: 25px;
	margin-top: 15px;
	float:left;
}



.col3{
	width: 300px;
	float:left;
	margin-top: 15px;
	border: 1px solid #dedede;
}

/*Footer*/
footer {
		width:1163px;
		height: 100px;
		text-align: left;
		margin-left: 7px;
		font-size: 12px;
		line-height: 30px;
		margin-top: 30px;
		padding-top: 20px;
	  float:left;
		padding-bottom: 10px;

}

footer  li {
  text-decoration:none;
	display: inline;
	padding-left: 107px;
	text-align: left;
}
.footer-abstand  {
margin-bottom: 15px;

}

.footer-border {
	border: 1px solid #efefef;
	padding-top:10px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.footer-lower-line {
padding-left: 15px;
text-align: center;
padding-bottom: 8px;
}
	.footer-first-item {
	padding-left: 30px;
}

footer .footer-lower-line a {
	padding-right: 20px;

}

#copyright {
	padding-bottom: 40px;
}

.footer-border1 {
	border: 1px solid #efefef;
	border-bottom: none;
	padding-top:20px;
	padding-right: 0px;
	padding-bottom: 30px;
	height: 50px;
}

.footer-border2{
	border: 1px solid #efefef;
	border-bottom: none;
	padding-top: 25px;
	padding-right: 0px;
	padding-left: 40px;
	height: 80px;
}

.footer-4er {
	line-height: 16px;
	height: 18px;
	padding-left: 30px;
}

.footer-4er-1-4 {
	float:left;
	width: 350px;
}

.footer-4er-2-3 {
	float:left;
	width: 230px;
}
.footer-siegel {
	width: 50px;
	padding-left: 20px;
	float: left;
}

.footer_siegel_descr {
	float: left;
	width: 55px;
	padding-left: 7px;
	padding-top: 12px;
	line-height: 12px;
}
