html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer,main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-user-select: none;
  -webkit-user-select: none;
  font-family: "Microsoft YaHei","微软雅黑","SimSun","宋体";

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
	display: block;
}


html {
  background-color: #FFFFFF;
  font-family: "SimSun","宋体","Arial Narrow",HELVETICA;
	line-height:22px;
	text-align: left;
}

body {
  background-color:#fff;
	display: block;
}


ul {
	list-style: none;
}

/* Breite der einzelnen Navipunkte (also pro chin. Zeichen)*/
nav ul li {
	display:inline;
	text-decoration:none;
  text-align: left;
  padding-right: 18px;
  font-size: 14px;
}

nav ul {
    padding-bottom: 10px;
}

nav ul ul li {
    background-color: #efefef;
    display: block;
    padding: 0;
    margin: 0;
    font-size: 14px;
    width: 45px;
    line-height: 30px;
    text-align: center;
}


a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #1579D7;
}

.cn-top-head-li {
  display:inline-block;
  text-decoration:none;
}

/*Links über dem Logobereich */

#cn-top-head-wrapper {
  background-color: #efefef;
  height: 38px;
  border-bottom: 1px solid #dedede;
}

#cn-top-head-width {
  display: block;
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

}

#cn-top-head-nav  {
  text-align: right;
  margin-right: 58px;
}

#cn-top-head-left {
  width: auto;
  float:left;
}

#switcher:hover {
	  color: #1579D7;
}

.main {
  width: 1220px;
  margin-left: auto;
  margin-right: auto;
}

.float-left {
	float: left;
}



/*Naviboxen oben */

.topnav-margin {
	margin-bottom: 0;
	margin-top: 12px;
	padding-bottom: 0px;
}

.box  {
  padding-top:8px;
  display: inline-block;
  line-height: 17px;
  text-align: left;
  width: 213px;
  float: left;
}

#box1 {
  border-left:none;
  margin:0;
  float:left;


}

.box2  {
  border-left: 1px solid #dedede;
  padding-left:31px;
}

.boxlast {
  padding-top:8px;
  float:left;
  line-height: 17px;
  text-align: left;
  width: 215px;
}

.search_padding {
  padding-top: 15px;
}

#logoleiste {
  height: 60px;
  margin-top: 20px;

}



#logo {
  width: 160px;
  float:left;
}

#suche {
  width: 380px;
  margin-left: 40px;
  border-radius: 4px;
  border-right: none;
  height: 35px;
  border-style: ridge;
  border-color: #dbdbdb;
  border-width:1px;
  border-style: solid;

}


#search_lupe {
  height: 20px;
  padding: 5px;
  background-color: #1579D7;
  border-width:2px;
  border-style: solid;
  border-radius: 4px;
  border-color: #1579D7;
}

#search_lupe:hover {
  background-color: #004b91;
}



#submenu {
  display: none;
  position: absolute;
  margin-left: 147px;
  padding-top: 6px;
}

#submenu_0 {
  margin: 0;
  width: 60px;
}


#submenu_0:hover #submenu {
  display: block;
}



#arrow_submenu {
width: 11px;

}

#qr_schrift {
  padding-top: 20px;
  text-align: right;
  width: 250px;
		margin-left: 50px;
}


#qr_img_div {
width: 120px;


}
#qr_img {
  width: 100px;
  padding-left: 5px;
  position: absolute;
  display: none;
}


#qr_schrift:hover {
  color: #1579D7;

}

#qr_schrift:hover #qr_img {
  display: inline-block;
}

#contact {
  width: 222px;
	float: left;
	text-align: right;
  padding-top: 18px;

}
/*Switchable Header Height */
#switchable-banner-wrapper{
	height: 400px;
}

/* Slideshow container */
.slideshow-container {
margin-top: 20px;
float: left;

}

/* The dots/bullets/indicators */
.dot {
  height:0px;
  width: 0px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.img-slider {
	width: 992px;

}

/* Slideshow container links */
.slideshow-container1 {
	width: 240px;
	height: 320px;
	margin-right: 25px;
	margin-top: 10px;
	border: 1px solid #dedede;
}

.img-slider1 {
	width: 240px;

}

/*Bildunterschrift Slider links*/
.sider1_img_desc {
	font-size: 14px;
	line-height: 11px;
	padding-top: 7px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

/* Bild mit Text drunter Col1 */
.bild-mit-text-links-rahmen {
	width: 240px;
	margin-right: 25px;
	margin-bottom: 10px;
}

.bild-mit-text-img {
	width: 240px;

}

/*Bildunterschrift Slider links*/
.bild-mit-text_desc {
	font-size: 14px;
	line-height: 11px;
	padding-top: 7px;
	padding-left: 2px;
	padding-right: 2px;
	text-align: center;
}

/*Seitenmenü neben Slider */
.boxseitenmenu {
	  line-height: 17px;
	  width: 150px;
	  float: left;
		margin-right: 0px;
		margin-top: 20px;
		padding-top: 15px;
		padding-left: 13px;
		padding-right: 10px;
		background-color: #efefef;
		height: 380px;
}

#liste-links-seitenmenu {
		letter-spacing: 1px;
		padding-bottom: 8px;

}

#liste-links-seitenmenu li {
	padding-bottom: 10px;

}

.listenStyleDisc {
	list-style: disc;
	color:#1579D7;
	font-size:8px;
	padding-left: 13px;
	padding-bottom: 1px;
}


#liste-links-seitenmenu a {
	font-size: 16px;
}

/*Werbebanner top (wird nur eingeblendet wenn Slider display none)*/
.werbebanner-breit {
	width: 1040px;
	margin-top: 20px;
	float: left;
}

.werbebanner-schmal {
	width: 121px;
	float: left;
	margin-left: 5px;
	margin-top: 21px;
	height: 95px;

}

#werbebanner-top {
	display: none;
}

#werbebanner-top2 {
		display: none;
}
.werbebanner-breit2 {
	width: 1150px;
	margin-top: 17px;

}

 /*Der Schalter zum Umstellen von Slider auf Werbebanner*/
#switcher {
	font-weight: bolder;
}

.content-margin {
	margin-top: 120px;

}

.abstand-oben {
	padding-top: 15px;
}

/*Definition des 3Col-Layouts*/
.col1 {
	width: 250px;
	float: left;
	margin-top: 20px;
}
.col1-2 {
	width: 250px;
	float: left;
	margin-top: 10px;
}

.col2 {
	width: 560px;
	float:left;
	margin-left: 40px;
	margin-top: 20px;
}
.col2-2 {
	width: 530px;
	float:left;
	margin-left: 40px;
}

.col1und2 {
	width: 820px;
	float:left;
	margin-top: 28px;
}

.textbox-mitte {
	width: 500px;
	padding: 0px 0px 0px  0px;
	line-height: 28px;
	font-size: 16px;
}

.text-unter-einer-links {
	padding: 0px 0px 0px  0px;
	line-height: 20px;
	font-size: 12px;
}

.bullet {
	color: #1579D7;
}

.textbox-mitte-abstand-unten {
		margin-bottom: 15px;
}

.bold {
	font-weight: bolder;
}

.col3{
	width: 320px;
	float:left;
	margin-top: 25px;
}
.col3-2{
	width: 320px;
	float:left;
}

/* Bilderwechselbox rechts */
.rechts-bilderwechselkasten {
	height: 150px;
	width: 315px;
	border: 1px solid #9a9a9a;
	margin-bottom: 25px;
}
.rechts-bilderwechsel-top-zeile {
	height: 25px;
	border-bottom: 1px solid #9a9a9a;
	background-color:#efefef;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
}

.rechts-bilderwechsel-text {
	float: left;
	width: 51px;
	height: 25px;
	border-right: 1px solid #9a9a9a;
}

.rechts-bilderwechsel-text-r {
	float: left;
	width: 49px;
	height: 25px;
}
#rechts-bilderwechsel-bild {
	background-image: url('img/cn_2er_links_row2-1.jpg');
	height: 130px;
	background-repeat: no-repeat,

}

#rbt-1-img {
	background-image: url("img/cn_2er_links_row2-1.jpg");
}
#rbt-2-img {
	background-image: url("img/cn_2er_links_row2-2.jpg");
}
#rbt-3-img {
	background-image: url("img/cn_2er_links_row1-1.jpg");
}
#rbt-3-img {
	background-image: url("img/cn_2er_links_row1-2.jpg");
}
#rbt-4-img {
	background-image: url("img/cn_2er_links_row1-2.jpg");
}
#rbt-5-img {
	background-image: url("img/cn_2er_links_row1-2.jpg");
}




.textbox-links {
	width: 220px;
	padding: 0px 0px 0px  0px;
	line-height: 25px;
	font-size: 14px;
}

.textbox-rechts {
	width: 360px;
	padding: 0px 0px 0px  0px;
	margin: 0px 0px 0px  0px;
	line-height: 25px;
	font-size: 14px;
}

.Zweier-mit-descr-Abstand-oben {
	margin-top: 15px;
}

/* 2er mit Bildunterschrift*/
.Zweier-mit-descr {
 float: left;
 border: none;
}

.Zweier-mit-descr img {
	width: 117px;
}

.Zweiter-mit-descr-img1 {
	margin-right: 7px;
}

.Zweier-mit-descr-text {
	font-size: 10px;
	width: 117px;
	line-height:16px;
	margin-bottom: 10px;

}
/* 2er mit Bildunterschrift Mitte*/
.Zweier-mit-descr-Abstand-oben-mitte {
	margin-top: 25px;
}

.Zweier-mit-descr-mitte {
 float: left;
 border: none;
 margin-left: 20px;
}

.Zweier-mit-descr-mitte img {
	width: 217px;
}

.Zweiter-mit-descr-img1-mitte {
	margin-right: 17px;
}

.Zweier-mit-descr-text-mitte	 {
	font-size: 12px;
	width: 197px;
	line-height:19px;
	margin-bottom: 10px;

}

/*menü im text  über hr */
.menuepunkt-ueber-hr {
	font-size: 18px;
	font-weight: normal;
	color: #333;
}

.ueberschrift-blau {
	font-size: 18px;
	font-weight: bolder;
	color: #1579D7;
	padding-bottom: 11px;
	border-bottom: 1.8px solid #d6d6d6;
	margin-bottom: 10px;
	margin-right: 65px;
}

.ueberschrift-blau-col1und2 {
	font-size: 18px;
	font-weight: bolder;
	color: #1579D7;
}

.border {
		border: 1px solid #efefef;
}

.einer-bild {
	width: 240px;
}

.einer-bild-wrapper {
	margin-top: 10px;
}

.einer-bild-mitte {
	width: 490px;
	height: 120px;
}

.einer-bild-wrapper-mitte {
	margin-top: 15px;
}

.einer-bild-rechts {
	width: 310px;
	margin-top: 20px;
}

/* Einer-Bild mit Text rechts */
.einer-bild-mit-text-wrapper {
	margin-top: 15px;

}

.einer-bild-mit-text {
	width: 130px;
	padding-right: 5px;
	margin-bottom: 5px;

}
.einer-bild-mit-text-text {
	font-size: 14px;
	width: 114px;
	line-height:20px;
	float: left;

}

.einer-bild-mit-text-text-rechts-col3 {
	font-size: 14px;
	width: 195px;
	line-height:26px;
	float: left;

}

.einer-bild-mit-text-rechts-wrapper {
	margin: 15px 0px 0px 0px;
	width: 320px;
	height: 90px;
	padding: 0px;

}

/*Einer-Bild mit Text rechte Spalte*/
.einer-bild-mit-text-rechts-col3 {
	width: 120px;
	padding-right: 5px;
	height: 85px;
}

.einer-bild-mit-text-rechts-wrapper-col3 {
	margin: 0px 0px 0px 0px;
	width: 360px;
	padding: 0px;

}

/*Einer-Bild mit Text rechte Spalte*/
.einer-bild-mit-text-rechts-col3 {
	width: 160px;
	padding-right: 5px;
	padding-top: 5px;
}


/* Zoom Bild rechte Spalte */
.zoom1 {
	padding: 0px;
  background-color: green;
  transition: transform .2s;
  width: 320px;
  height: 100px;
}

.zoom1:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.img-zoom-links1 {
	background-image: url('img/cn_2er_links_row2-1.jpg');
	background-repeat: no-repeat;
}

.zoom-links1-wrapper {
	width: 320px;
  height: 115px;
	overflow: hidden;
	margin-top: 20px;

}
/* Zoom-Bild links 1*/

.zoom2 {
	padding: 0px;
  transition: transform .2s;
  width: 240px;
  height: 100px;
}

.zoom2:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.img-zoom2-links {
	background-image: url('img/cn_2er_links_row2-2.jpg');
	background-repeat: no-repeat;
}

.zoom2-links-wrapper {
	width: 240px;
  height: 100px;
	overflow: hidden;
	margin-top: 20px;

}

/* Zwei Bilder mit Text darunter */
.Zweier-mit-descr-Abstand-oben {
	margin-top: 15px;
	width: 250px;
}

.abstand-rechts {
	padding-right: 15px;
}


.Zweier-mit-descr-rechts {
 float: left;
 border: none;
 margin-top: 15px;
}

.Zweier-mit-descr-rechts img {
	width: 150px;
}

.Zweier-mit-descr-rechts-img1 {
	margin-right:1px;
}

/*1und2er Col*/
.col1und2 li {
	display: inline;
	margin-right: 12px;
}

/*Footer*/
footer {
		width:1163px;
		height: 100px;
		text-align: left;
		margin-left: 7px;
		font-size: 12px;
		line-height: 30px;
		margin-top: 30px;
		padding-top: 20px;
	  float:left;
		padding-bottom: 10px;

}

footer  li {
  text-decoration:none;
	display: inline;
	padding-left: 107px;
	text-align: left;
}
.footer-abstand  {
margin-bottom: 15px;

}

.footer-border {
	border: 1px solid #efefef;
	padding-top:10px;
	padding-right: 0px;
	padding-bottom: 10px;
}
.footer-lower-line {
padding-left: 15px;
text-align: center;
padding-bottom: 8px;
}
	.footer-first-item {
	padding-left: 30px;
}

footer .footer-lower-line a {
	padding-right: 20px;

}

#copyright {
	padding-bottom: 40px;
}

.footer-border1 {
	border: 1px solid #efefef;
	border-bottom: none;
	padding-top:20px;
	padding-right: 0px;
	padding-bottom: 30px;
	height: 50px;
}

.footer-border2{
	border: 1px solid #efefef;
	border-bottom: none;
	padding-top: 25px;
	padding-right: 0px;
	padding-left: 40px;
	height: 80px;
}

.footer-4er {
	line-height: 16px;
	height: 18px;
	padding-left: 30px;
}

.footer-4er-1-4 {
	float:left;
	width: 350px;
}

.footer-4er-2-3 {
	float:left;
	width: 230px;
}
.footer-siegel {
	width: 50px;
	padding-left: 20px;
	float: left;
}

.footer_siegel_descr {
	float: left;
	width: 55px;
	padding-left: 7px;
	padding-top: 12px;
	line-height: 12px;
}
