html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer,main,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	-moz-user-select: none;
  -webkit-user-select: none;
  font-family: "Noto Sans","Helvetica Neue";
  font-weight: 400;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
	display: block;
}


html {
  background-color: #FFFFFF;
	line-height:22px;
	text-align: left;
}

body {
  background-color:#fff;
	display: block;

}


ul {
	list-style: none;
}

nav {
  padding-top: 10px;
}

nav ul li {
  margin-top: 25px;
	display:inline;
	text-decoration:none;
  text-align: center;
  font-size: 18px;
}

nav ul li a {
  color: #FFFFFF;
  padding-right: 27px;
}

#nav-last {
  padding-right: 0px;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
text-decoration: underline;
}

/* Top Header über die komplette Fensterbreite*/
#volle-breite-grau {
  background-color: #efefef;
  height: 360px;
}

#volle-breite-blau {
  background-color: #003E70;
  height: 40px;
  margin-top: 10px;
}


#top-head-nav  {
  text-align: right;

}

#top-head-right {
  width: 400px;
  display: inline;
}

#top-head-right a {
  font-size: 14px;

}

/* Aktive Sprachversion */
#active-lang {
  font-weight: bolder;
}

main {
  margin-top: 35px;
}

.main {
  width: 1000px;
  margin: auto;

}

/* Komplette Logoleiste mit Logo, Suche un 2 BUttons*/
#logoleiste {
  height: 60px;
  margin-top: 20px;

}

#logo {
  width: 260px;
  margin-top: 5px;
  float: left;
}

/* Suchleiste oben */
#suche {
  width: 180px;
  border-radius: 1px;
  border-right: none;
  height: 28px;
  border-style: ridge;
  border-color: #dbdbdb;
  border-width:1px;
  border-style: solid;
  float: left;


}

#search_lupe {
  height: 20px;
  padding: 2px;
  background-color: #003E70;
  border-width:2px;
  border-style: solid;
  border-radius: 3px;
  border-color: #003E70;
  float: left;
  margin-right: 15px;
}

#boxlupe {
  float: left;
}
#wrapper-suche-button {
  margin-top: 7px;
}

#top-head-right-wrapper {
  float: right;
}

.button-top {
  height:22px;
  width: 100px;
  background-color: #F58700;
  border-width:3px;
  border-style: solid;
  border-radius: 1px;
  border-color: #F58700;
  float: left;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;

}

.button-top:hover {
  background-color: #FFB357;
  border-color: #FFB357;
}

/* Switchable Topbanner */
#topbanner {
  width: 1000px;
  padding-top: 15px;
  border-width: 0;
}
#switchable-banner-wrapper {
  width: 1000px;
  margin: auto;
  line-height: 15px;
}

#topbanner-bildunterschrift {
  background-color: #FFFFFF;
  height: 25px;
  padding-top: 5px;
  text-align: center;
}

#platzhalter {
  height: 15px;
  background-color: #121212;
  display: none;
}
/* Styles für den 2-Col-Contentbereich */
.col1 {
	width: 670px;
	float: left;
  background-color: #FFFFFF;
  margin-right: 30px;
}
.col2 {
	width: 300px;
	float: left;
  background-color: #FFFFFF;
}
