html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer,main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-user-select: none;
  -webkit-user-select: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
	display: block;
}


html {
  background-color: #FFFFFF;
	line-height:22px;
	text-align: left;
    height: 100%;
}

body {
  background-color:#fff;
	display: block;
    position: relative;
   height: 100%;
   margin: 0 auto;
}


ul {
	list-style: none;
}


nav ul li {
	display:inline;
	text-decoration:none;
  text-align: left;
  font-size: 17px;
  padding: 0.75rem 1.2rem 0.55rem 1.2rem;


}

nav {
  padding-top: 0.7rem;
  padding-left: 20%;
}

nav ul li a {
    text-align: center;
    color: #FFFFFF;
}

a {
  color: #333;
  text-decoration: none;

}

nav ul li:hover {
  background-color: #666666;
}

main {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2em;
   padding-bottom:50px; /* Höhe des Footers */
}

.site {
 height: auto;
 min-height: 100%;
}

#top-head1-wrapper {
  height: 1rem;
  font-size: 12px;
  text-align: left;
  background-color: #efefef;
  padding-left: 1rem;
}

/*Logo und Menü */
.top-head-wrapper {
  height: 4rem;
  margin-top:1rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#nav-wrapper {
  background-color:#363636;
  height: 2.5rem;

}

#top-head-bgcolor {
  background-color:#363636;
  height: 2.5rem;
}

.width {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 10px;
}

#active-lang {
  font-weight: bolder;
}

/*Logo */
#logo {
  width: 11rem;
}
#logo-wrapper {
  float: left;
  padding-top:0.5rem;
}

/*Suche oben*/
#logo {
  width: 260px;
  margin-top: 5px;
  float: left;
}

/* Suchleiste oben */
#suche {
  border-radius: 1px;
  border-right: none;
  height: 34px;
  width:14rem;
  border-style: ridge;
  border-color: #dbdbdb;
  border-width:1px;
  border-style: solid;
    border-radius: 6px;



}

#search_lupe {
  height: 32px;
  border-width:1px;
  border-style: solid;
  border-radius: 6px;
  border-color: #dbdbdb;
  border-left: 0px;

}

#lupe {
    height: 24px;
    padding: 2px;
      border-radius: 6px;
}

/*SWITCH-Button*/
#switch {
  font-size: 15px;
  color: #FFFFFF;
  float: left;
  margin-right:1.0rem;
  padding: 0.3rem 0.7rem 0.3rem 0.6rem;
  background-color: #253a59;
  border-color: #253a59;
  border-width:1px;
  border-style: solid;
  border-radius: 6px;
}

.floatright {
    float: right;
}
.floatleft {
  float: left;

}
#wrapper-switch {
  float:right;
  margin-top: 0.8rem;
}

/* Styles für den Mainbereich (Contentbereich)*/
.banner-fullwidth {
  width: 100%;
  margin-top: 0.5rem;
}

/*Footer Styles */
footer {
background-color: #272622;
width:60%;
height: 250px;
font-size: 14px;
margin-top: 30px;
float:left;
margin-left: 20%;
margin-right: 20%;
}

footer ul {
  float:left;
  margin-right: 8rem;
  text-align: left;
  font-size: 13px;
  line-height: 15px;
  font-weight: lighter;
}

footer a {
  color: #FFFFFF;
}

footer ul {
  display: inline;
}

footer ul li {
    display: inline;
}
.footer {

  margin-top: 2rem;
}
