/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 18px;
  color: #31313E;
  font: inherit;
  vertical-align: baseline;
  -moz-user-select: none;
  -webkit-user-select: none;
  box-sizing: border-box;
  font-family: Arial,sans-serif;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
  display: block;
}

/**
 * Box model
 */
html {
  background-color: #e1e6eb;
}

/* Helper */

.bg-dark {
  background-color: #31313E;
}

.abstand-rechts-narrow {
  margin-right: 10px;
}

.abstand-rechts {
  margin-right: 20px;
}

.abstand-links {
  margin-left: 32px;
}
.abstand-links-topbanner {
  margin-left: 35px;
}
.abstand-oben {
  padding-top: 25px;
  margin-top: 25px;
}

.abstand-oben-narrow {
  margin-top: 10px;
}


.abstand-unten {
  margin-bottom: 25px;
}

.abstand-unten-narrow {
  margin-bottom: 15px;
}

h1, h1 a {
    font-size: 24px;
    line-height: 26px;
    color: #31313E;
    font-family:serif;
    text-decoration: none;
    font-weight:bold;
    font-family:  Arial,sans-serif;
    padding-bottom: 5px;
}

h2 {
  font-size: 20px;
  line-height: 21px;
  color: #31313E;
  font-family:serif;
  text-decoration: none;
  font-weight:bold;
  font-family:  Arial,sans-serif;
  padding-bottom: 10px;

}

h3 {
  color: #C41B22;
  font-size: 19px;
  font-family:  Arial,sans-serif;
}

h4 {
  margin-bottom: 10px;
  color: #31313E;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-top:10px;
font-family:  Arial,sans-serif;


}


h5 {
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  float: right;
  margin-left: 15px;
  margin-top: 4px;
  font-family:  Arial,sans-serif;
}

h6 {
  color: #31313E;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 19px;
  font-family:  Arial,sans-serif;
}

.thema {
  color: #C41B22;
  font-size: 13px;
  margin-bottom: 4px;

}


.textarea {
  width: 800px;
  line-height: 19px;

}

.textarea-aside {
  width: 300px;
  height: 480px;

}

.textarea-aside-text {
  padding-bottom: 15px;
  padding-top: 10px;
    border-bottom: 2px solid #efefef;

}

.headline-narrow {
  font-size: 22px;
  height: 25px;
  border-bottom: 2px solid #efefef;
  border-top: 2px solid #efefef;
  text-transform: uppercase;
}


.top-wrapper-narrow-ad {
  width: 1040px;
  margin: auto;
  height: 100px;
  padding-top: 10px;
  background-color: #ffffff;

}


#logo-img {
  width: 380px;
  margin-top: 43px;
  float: left;
  margin-left: 21px;
}

.nav-narrow {
  width: 1040px;
  margin:auto;
  height: 40px;
  background-color: #FFFFFF;
      padding-top: 10px;
      padding-left: 25px;

}


nav ul li {
    display: inline;
    position:relative;

}

nav ul li a  {
  text-decoration:none;
  font-size: 14px;
  color: #31313E;
  font-family: Arial,sans-serif;
  text-align: center;
}

.abstand-rechts a:hover {
  padding-bottom: 12px;
    border-bottom: 2px solid #cccccc;
}

.inline {
  display: inline;

}

.arrow {
    color:inherit;
    border-style:solid; border-width:2px 2px 0 0; padding:2px; transform:rotate(135deg);
    margin-left:5px;
    position:relative;
    display: inline-block;
    margin-bottom: 5px;

}

.dropdown {
    left:0;
    background-color:#FFFFFF;
    position:absolute;
    display:none;
    width: 35px;
    height:290px;

}



.dropdown li > a {
    display:block;
    color: #31313E;
    text-align: left;
    padding-left: 15px;

}

nav ul li:hover > .dropdown {
    display:block;
    opacity:1;

}

 ul.dropdown
{
    width:140px; /* Sub level menu width */
}
 .dropdown li {
    display: block;
    padding: 20px 10px 20px 0px;
    border-bottom: 1px solid #cccccc;
    height: 35px;

}

.dropdown li a:hover {
          text-decoration: none;
                  border-bottom: 0px;
}


main {
  margin-bottom: 25px;

}

article a {
  text-decoration: none;
  font-size: 12px;
  line-height: 18px;
}

article {
  font-size: 14px;
  line-height: 18px;
}

.bordertop {

    border-top: 2px solid #efefef;
}

.borderbottom {

    border-bottom: 2px solid #efefef;
}


#contentwidth-narrow {
  width: 1000px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 4800px;
  border: 1px solid #efefef;
  background-color: #ffffff;

}


.banner-wrapper {
  float: left;
  margin-right: 15px;
}



.werbebanner-img {
  width: 960px;
  padding-top: 24px;
}


/*Topbanner mit Farbverlauf und Text auf Bild */
.topbanner-img {
  width: 1000px;
  margin-top: 25px;
  height: 390px;
}

#topbanner-wrapper {
  height: 570px;
    border-bottom: 2px solid #efefef;
}

#topbanner-text {
  height: 100px;
  padding-top: 15px;
    margin-bottom: 45px;
}


.redfat {
  color: #C41B22;
      font-family:  Arial,sans-serif;
      font-weight: bold;
}



.col1 {
  width: 840px;
  float: left;
  margin-right: 15px;
  height: 500px;
}

.col2 {
  width: 425px;
  float: left;
}

.col1-narrow {
  width: 640px;
  height: 1620px;
  float: left;
  margin-right: 15px;
    margin-top: 20px;

}

.col1-narrow2 {
  width: 640px;
  height: 1420px;
  float: left;
  margin-right: 15px;
    margin-top: 20px;

}


.col2-narrow {
  width: 305px;
    padding-top: 20px;
  float: left;
  margin-left: 32px;
  height: 1660px;
}
.col2-narrow2 {
  width: 305px;
    padding-top: 20px;
  float: left;
  margin-left: 32px;
  height: 1460px;
}



.no-img-beitrag {
  height: 140px;
  padding-top: 20px;
  padding-right: 5px;
  border-bottom: 1px solid #cccccc;

}


.bild-text-wrapper {
  height: 226px;
  width: 650px;
  padding-top: 25px;

}

.bild-text-text {
  font-family: "TT Norms Pro Medium",'arial-narrow',sans-serif;
  line-height: 19px;
  width: 350px;
  float: left;
  margin-left: 10px;
}


.bild-text-img {
  width: 290px;
  height: 170px;
  padding-right: 15px;
  float: left;
}



.border-bottom {
      border-bottom: 2px solid #efefef;
}




.bild-ueber-text-wrapper {
  width: 650px;
  height: 520px;
  margin-top: 25px;
margin-right: 35px;
    border-bottom: 1px solid #cccccc;
}


.bild-ueber-text-text {
    font-size: 19px;
    line-height: 22px;
    padding-right: 20px;
    text-align: left;
  }


  .bild-ueber-text-img {
    width: 650px;
    height: 350px;
    padding-bottom: 5px;

  }

  .topsmall-abstand {
    margin-right: 15px;
  }

  .topsmall-img {
    width: 242px;
    height: 220px;
    background-image: url("../../img/lat/els/topbanner.jpg");
    background-repeat: no-repeat;
  }

  .topsmall-spacer {
    height: 145px;
  }

  .topsmall-farbverlauf {
    height: 75px;
    width: 242px;
    background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  }

/* Topsmall in Narrow */
  .topsmall-img-narrow {
    width: 330px;
    height: 250px;
    background-image: url("../../img/lat/els/topbanner.jpg");
    background-repeat: no-repeat;
  }

  .topsmall-spacer-narrow {
    height: 175px;
  }

  .topsmall-farbverlauf-narrow {
    height: 60px;
    padding-top: 15px;
    width: 330px;
    font-weight: bold;

    background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8));
  }

.autor {
  color: #1289FF;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  line-height:20px;
  margin-bottom: 10px;
}


/* Einer Bild Text untereinander für Col2 */
.einer-bild-ueber-text-narrow {
  margin-top: 7px;
  width: 309px;
  height: 300px;


}

.einer-bild {
  height: 435px;
  margin-top:10px;
  width: 309px;
}


.einer-text-narrow {
font-size: 14px;
padding-left: 3px;
}



.einer-bild-ueber-text-img-narrow {
  width: 309px;
  height: 150px;
  padding: 10px 0px 10px 0px;
}



/** Die narrow Version vom Dreier BIld ueber Text */

.dreier-bild-ueber-text-narrow {
  float: left;
  margin-top: 7px;
  width: 309px;
  height: 330px;
  padding: 10px 0px 10px 0px;


}

.dreier {
  padding-top: 10px;
  height: 370px;
}

.dreier-margin-narrow {
    margin-right: 36px;
}


.dreier-bild-ueber-text-img-narrow {
  width: 309px;
  height: 180px;
}

.dreier-text-narrow {
font-size: 14px;
}


.zweier-bild-ueber-text-wrapper {
 height: 320px;


}
.zweier-bild-ueber-text {
  float: left;
  width: 405px;
  padding-top: 20px;
}

.zweier-margin {
  margin-right: 20px;
}


.zweier-bild-ueber-text-img {
  width: 408px;
  height: 190px;
}


.zweier-h-bild-text-wrapper {
  height: 160px;
  width: 400px;
  border-bottom: 2px solid #efefef;
  float: left;
  padding-top: 20px;
}

.zweier-h-bild-text {
  float: left;

}
.zweier-h-bild-text-text {
  width: 400px;
  font-size: 15px;
  font-weight: bold;
  color: #31313E;
  padding-top: 2px;

}

.zweier-h-bild-text img {
  float: left;
  width: 200px;
  height: 140px;
  margin-right: 7px;
}


/* ZWei B T nebeneinander small narrow */


.zweier-h-bild-text-wrapper-narrow {
  margin-right: 15px;
  width: 310px;
  float: left;
}

.zweier-h-bild-text-text-narrow {
  width: 310px;
  font-size: 17px;
  line-height: 16px;
  color: #31313E;
  padding-top: 2px;
  font-family:  Arial,sans-serif;

}

.zweier-h-bild-text-narrow img {
  float: left;
  width: 120px;
  height: 70px;
  margin-right: 7px;
}

.zweier-h-bild-text-narrow {
  height: 80px;
  border-bottom: 2px solid #efefef;
  float: left;
}

.square-ad {
  margin-top: 20px;
  width: 350px;
  float: left;
}

.square-ad-img {
  width: 350px;
  margin-bottom: 15px;
  padding: 15px;
  border: 2px solid #efefef;

}


  .square-ad-narrow {
    margin-top: 20px;
    padding-right: 10px;
    width: 300px;
    height: 280px;
    float: left;
  }

  .square-ad-img-narrow {
    width: 300px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #efefef;
    border: 2px solid #efefef;

  }

  .col2-bild-ueber-text {
      float: left;
      width: 350px;
      height: 380px;
      margin-top:15px;
      border-bottom: 1px solid #cccccc;

}


.col2-bild-ueber-text-img {
  width: 350px;
  height: 300px;

}



/*Footerstyles */

footer {
    border-top: 1px solid #cccccc;
  height: 410px;
  background-color: #FFFFFF;
    width: 1040px;
    margin: auto;
}


.footer {

  height: 410px;
  font-size: 15px;
  padding-left: 25px;
  font-family: arial, sans-serif;
}


footer a {
    color: #31313E;
    text-decoration: none;
}

.footer-headline {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
    width: 80px;
    font-size: 15px;
}


.rowfooter {
  padding-top: 65px;
  float: left;
  width: 165px;

}

#firstrowfooter {
  padding-top: 65px;
  float: left;
  width: 150px;
  margin-left: 5px;

}

#lastrowfooter {

  float: left;
  height: 250px;
  width: 90px;
  border-right: 0px;
  margin-left: 55px;
}


#footer-social-ueberschrift {
  margin-bottom: 10px;

}

.footer-social-icons {
  margin-left: 440px;
  padding-top: 25px;
}

.footer-social-icons img {
  width: 30px;
  padding-right: 8px;
}

.footer  ul li {
  list-style: none;
  padding-bottom: 8px;
}

#footerbg2 {
  width: 1040px;
  margin: auto;
  height: 135px;
  color: #FFFFFF;
  background-color: #4A4A4A;
  font-size: 13px;
}

#copyright {
  text-align: left;
    color: #FFFFFF;
    padding-top: 12px;
}


#helplinks {
  text-align: center;
  color: #FFFFFF;
  padding-top: 25px;
}

#helplinks ul li {
  display: inline;
  padding-right: 15px;
}

#helplinks ul li a {
  color: #ffffff;
  text-decoration: none;
}

.helplinksborder {
  padding-left: 15px;
  border-left: 1px solid #cccccc;
}
.social-icons {
  height: 40px;
  display: inline;
}

.social-icons img {
  width: 22px;

}

.social-distance {
  float: right;
    margin-top: 45px;
    margin-right: 25px;
}
/* Suche */
#suche-wrapper {
  border-right: 0px;
  float: left;
  margin-top: 45px;
  margin-left: 295px;

}

#suche-wrapper:hover {
    background-color: #FFFFFF;
}

#suche {
  height: 27px;
  width:140px;
  float: left;
  border-radius: 5px;
  border: 1px solid #dddddd;
}

#search_lupe {
  height: 26px;
  padding:2px;
  background-color: #999999;
  border-radius: 5px;
}


#lupe{
  background-color: #888888;
  padding: 15px 2px 3px 6px;
  border-radius: 50px;
}

.icons-right {
  float: right;

}

.icons-right img {
  background-color: #333333;
  padding: 3px;
  border-radius: 35px;
  width: 15px;
  height: 15px;
}
