/* HTML5 display-role reset for older browsers */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 12px;
  line-height: 15px;
  color: #535353;
  font: inherit;
  vertical-align: baseline;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-family: 'Eugenio Sans Text','Helvetica Neue',Helvetica,Arial,sans-serif;

}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
  display: block;
}

/**
 * Box model
 */
html {
  box-sizing: border-box;
}

/* Helper */
.floatright {
  float: right;
}
.bg-dark {
  background-color: #111111;
}

.abstand-rechts {
  margin-right: 20px;
}

.abstand-links {
  margin-left: 60px;
}
.abstand-oben {
  margin-top: 15px;
}

.abstand-unten {
  margin-bottom: 25px;
}

h1, h1 a {
    font-size: 29px;
    line-height: 26px;
    color: #121212;
    padding-bottom: 5px;
    font-family:  Lora,Georgia,"Times New Roman",Times,serif;
    text-decoration: none;
}

h2 {
  font-size: 22px;
  padding-top: 5px;
  line-height: 21px;
  color: #121212;
  padding-bottom: 5px;
  font-family:  Lora,Georgia,"Times New Roman",Times,serif;

}

h3 {
  font-size: 25px;
  padding-left: 30px;
  padding-right: 45px;
  padding-top: 20px;
  line-height: 29px;
  color: #FFFFFF;
}

h4 {
  margin-bottom: 10px;
  color: #111111;
  font-size: 19px;
  line-height: 23px;
  margin-top:10px;
      font-weight:bold;


}


h5 {
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  float: right;
  margin-left: 15px;
  margin-top: 4px;
  font-family:  Lora,Georgia,"Times New Roman",Times,serif;
}

h6 {
  color: #121212;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 19px;

    font-family:  Lora,Georgia,"Times New Roman",Times,serif;

}

#top-wrapper {
  width: 1100px;
  margin: auto;
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  height: 250px:
}

#logo-bereich {
    padding-top: 55px;
    width: 360px;
    margin: auto;
    height: 80px;

}


#logo-img {
  width: 360px;
}


nav {
  padding: 5px 0px 10px 0px;
  border-bottom: 2px solid #121212;


}
nav ul {
    width: 520px;
margin:auto;
}


nav ul li {
    display: inline;
}

nav ul li a {
  text-decoration:none;
  font-size: 18px;
  color: #111111;
  font-family:  Lora,Georgia,"Times New Roman",Times,serif;
  text-align: center;

}

/* Hamburger Button 4 Menu */
.hamburger {
  width: 30px;
  margin-right: 60px;
  margin-top: 4px;
  float: left;
}

.line {
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 3px;
  height: 2px; width: 25px;
  background: #121212; border-radius: 2px;
  display: block;
}
.inline {
  display: inline;

}


main {
  margin-bottom: 25px;

}

article a {
  text-decoration: none;
}

article {
  font-size: 15px;
}



.contentwidth {
  width: 1030px;
  margin: auto;
  height: 4000px;
      border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
      padding: 35px;

}

#werbebanner-top {
  width: 980px;
  height: 150px;
  margin: auto;
  padding-bottom: 25px;
}
.werbebanner-img {
  width: 980px;
  padding-top: 24px;
}

.col1 {
  width: 670px;
  float: left;
  margin-right: 10px;
    height: 3500px;
}

.col2 {
  width: 320px;
  height: 3800px;
  float: left;
  border-left: 1px solid #cccccc;
  padding-left: 18px;
}

.no-img-beitrag {
  height: 160px;
  padding-top: 10px;
  padding-right: 5px;
  border-bottom: 1px solid #cccccc;

}

.bild-text-wrapper {
  height: 230px;
  width: 660px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}

.bild-text-text {
  font-family: "TT Norms Pro Medium",'arial-narrow',sans-serif;
  line-height: 19px;
  width: 360px;
  float: left;
  margin-left: 10px;
}


.bild-text-img {
width: 280px;
height: 210px;
margin-right: 5px;
margin-bottom: 10px;
float: left;
}

.thema {
  color: #1289FF;
  font-size: 11px;
  font-weight:bold;
  text-transform: uppercase;
  margin-bottom: 4px;

}
.bild-ueber-text-wrapper {
  width: 650px;
  height: 490px;
  margin-top: 25px;
margin-right: 35px;
    border-bottom: 1px solid #cccccc;
}


.bild-ueber-text-text {
    font-size: 19px;
    line-height: 22px;
    padding-right: 20px;
    text-align: left;
  }


  .bild-ueber-text-img {
    width: 650px;
    height: 350px;
    padding-bottom: 5px;

  }

.autor {
  color: #1289FF;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
  line-height:20px;
  margin-bottom: 10px;
}

.dreier-bild-ueber-text-wrapper {
 width: 660px;
height: 235px;
 padding-top: 20px;
    border-bottom: 1px solid #cccccc;



}
.dreier-bild-ueber-text {
  float: left;
  width: 210px;
  margin-right: 10px;

}


.dreier-bild-ueber-text-img {
  width: 210px;
  height: 150px;
}


.zweier-h-bild-text-wrapper {
  height: 150px;
  width: 660px;
  margin-bottom: 25px;
  border-bottom: 1px solid #cccccc;
}

.zweier-h-bild-text {
  float: left;
  height: 150px;
  margin-bottom: 25px;
}
.zweier-h-bild-text-text {
  width: 300px;
  font-size: 13px;
  padding-top: 8px;

}

.zweier-h-bild-text img {
  float: left;
  width: 100px;
  height: 80px;
  margin-right: 7px;
}


.square-ad {
  margin-top: 20px;
  width: 350px;
  float: left;
}

.square-ad-img {
  width: 350px;
  margin-bottom: 15px;

}


  .col2-bild-ueber-text {
      float: left;
      width: 350px;
      height: 387px;
      margin-top:15px;
      border-bottom: 1px solid #cccccc;

}


.col2-bild-ueber-text-img {
  width: 350px;
  height: 300px;

}



/*Footerstyles */

.footer {
  width: 1100px;
  margin: auto;
  height: 400px;
  color: #444444;
  font-size: 17px;
  padding-top: 25px;
    background-color: #FFFFFF;
    border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
}

footer ul li a {
  font-size: 14px;
  color: #444444;

}

footer a {
  font-size: 14px;
  color: #444444;
}

.footer-padding {
  padding-bottom: 45px;
}

.footer-font {
  font-size: 14px;
    color: #444444;
}

.marginleft {
  margin-left: 55px;
}
.margintop {
  margin-top: 15px;
}

.font-weight-600 {
  font-size: 14px;
  color: #FFFFFF;

}
.rowfooter {
  margin-top: 45px;
  padding-top: 25px;
  float: left;
  height: 250px;
  width: 165px;

}

#firstrowfooter {
  margin-top: 45px;
  padding-top: 25px;
  float: left;
  height: 250px;
  width: 150px;
  margin-left: 25px;

}

#lastrowfooter {
  margin-top: 45px;
  padding-top: 25px;
  float: left;
  height: 250px;
  width: 90px;
  border-right: 0px;
  margin-left: 55px;
}

#footer-logo-img {
  width: 200px;
  height: 30px;
  margin-bottom: 35px;
  margin-top: 35px;
}

.footer-social-icons {
  width: 150px;

}

#footer-social-ueberschrift {
  margin-bottom: 10px;

}

.footer-social-icons img {
  width: 25px;
  padding-right: 8px;
}

.footer  ul li {
  list-style: none
}

.footer a {
  text-decoration: none;
color: #444444;
}

#footerbg2 {
  width: 1102px;
  margin: auto;
  height: 65px;
  color: #FFFFFF;
  background-color: #111111;
  font-size: 14px;
}
#footerbg1 {
  width: 1100px;
  margin: auto;
  padding-top: 50px;
  height: 15px;
  color: #777775;
  font-size: 25px;
  text-align: center;
  border-right: 1px solid #cccccc;
border-left: 1px solid #cccccc;
  font-family:  Lora,Georgia,"Times New Roman",Times,serif;
}


#copyright {
  text-align: center;
    color: #FFFFFF;
    padding-top: 25px;
}

#interactive {
  height: 15px;
  width: 1000px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}

.social-icons {
  float: left;


}
.social-icons img {
  width: 15px;
  height: 15px;
  margin-right: 2px;

}
#twitter {
  background-color: #1dcaff;
  padding: 3px 0px 0px 3px;
  border-radius: 15px;
}

#facebook {
  background-color: #3b5998;
  padding: 4px 1px 0px 4px;
  border-radius: 15px;
}
.icons-right {
  float: right;

}

.icons-right img {
  background-color: #333333;
  padding: 3px;
  border-radius: 35px;
  width: 15px;
  height: 15px;
}
