html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer,main
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-moz-user-select: none;
  -webkit-user-select: none;
  font-family: sans-serif;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, menu, nav, section, main {
	display: block;
}


html {
  background-color: #FFFFFF;
	line-height:22px;
	text-align: left;
}

body {
	display: block;
  font-size: 16px;
}


ul li {
	list-style: none;
  	display:inline;
}


nav ul li {
	text-decoration:none;
  text-align: left;
  padding-right: 18px;
  font-size: 14px;
}

nav ul {
    padding-bottom: 10px;
}

nav a {
    color: #FFFFFF;
}

a {
  color: #333;
  text-decoration: none;
}

nav a:hover {
    color: #AC0600;
}

a:hover {
  color: #AC0600;
}
#active-lang {
  font-weight: bolder
}

/*Logo und Menü */
header {
  background-color:#111111;
  height: 80px;
}

.small-nav {
  font-size: 12px;
  padding-top: 5px;
  height: 18px;

}

.small-nav a {
  color: #999;
  padding-right:30px;
}

.small-nav a:hover {
  color: #AC0600;
}

.top-head-wrapper {
  width: 1200px;
  margin: auto;
}

/* Banner über Logobreich*/
.banner-fullwidth {
  width: 800px;
  margin: auto;
  padding-top: 5px;
}

#banner-top {
  width: 800px;

}
/*Logo */
#logo {
    width: 150px;
}
#logo-wrapper {
  float: left;
  padding-top:6px;
}

/* Navigation */
#nav-wrapper {
  height: 18px;
  padding-top: 30px;
  margin-left: 70px;
  float: left;

}

.social-icons {
  float: left;
  width: 180px;
  height: 36px;
  margin-left: 20px;
  margin-top:20px;
}

.social-img {
  width: 25px;
  margin-right: 14px;
}

/* Styles 4 Main Content */

main {
	background-color:#efefef;
	padding-bottom: 2100px;
	padding-top: 15px;
}

#main {
  width: 1200px;
  margin: auto;
	background-color:#FFFFFF;

}

/* Cols 1 und 3 Größen - Breite 350 Margin 25, insgesamt 750*/
.col1 {
  width: 260px;
  float: left;
	height: 1150px;
	margin-right: 15px;
	padding:20px 25px 0px 25px;
	background-color: #efefef;
}

.col1-2 {
  width: 260px;
  float: left;
	height: 520px;
	margin-right: 15px;
	padding:20px 25px 0px 25px;
	background-color: #FFFFFF;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 34px;
	margin-bottom: 15px;
	color: #AC0600;
}

.col3 {
  width: 260px;
  float: left;
		height: 1150px;
	margin-left: 15px;
	padding: 10px;
	margin-bottom: 15px;


}
.col3-2 {
  width: 260px;
  float: left;
		height: 520px;
	margin-left: 15px;
	padding: 10px;
	margin-bottom: 15px;
	background-color: #FFFFFF;

}
/* Col2 450px*/
.col2 {
	width: 520px;
		height: 1150px;
	background-color: #FFFFFF;
	float: left;
	padding: 20px 10px 0px 10px;
}
.col2-2 {
	width: 520px;
	height: 520px;
	float: left;
	padding: 20px 0px 0px 20px;
}

.col1col2col3 {
background-color: #FFFFFF;
  float: left;
	padding-left:25px;
padding-top:25px;
padding-bottom: 25px;
margin-bottom: 15px;

}
.col1col2col3-artikel {
	width: 163px;
	float: left;
	margin-right: 26px;

}


.col1col2col3-artikel-text {
	font-size: 14px;
	line-height: 15px;
	padding-left: 4px;
	padding-right: 4px;


}


.col1col2col3-artikel-img {
	width: 162.5px;
	padding-bottom: 5px;
}

.main-img-col2 {
  width: 460px;
	margin-left: 25px;
	padding-top: 15px;
  margin-bottom: 20px;
	border: 0px;
}

.col2-text {
		margin-left: 25px;
		margin-top: 15px;
		padding-right: 35px;
		padding-bottom: 20px;
}

.col2-4-pics-img {
	width: 225px;
	height: 225px;
	float: left;
	padding-top: 15px;
	padding-left: 15px;

}

.text-on-img {

}

article a {

	color: #121212;
}

article a:hover {
		text-decoration: underline;
		color: #121212;
}

.col1-3-pic {
	width: 250px;
}

.col1-3-pic-tall-border {
	margin-left: 5px;
	margin-right: 5px;
	padding: 15px 0px 15px 9px;
	border: 1px solid #dedede;
	margin-bottom: 25px;
	background-color: #ffffff;


}
.col3-abstand-korr {
	margin-left: 5px;
	padding-top: 20px;
	padding-bottom: 2px;
}

.col1-pic-text-img {
	float: left;
	width: 100px;
	margin-right: 10px;
}

.col1-pic-text-news {
	font-size: 13px;
	line-height:13px;
	font-weight: 500;

}

.article-lastbox {
	padding-bottom:45px;
}
.col1-pic-text-news-hindi {
	font-size: 14px;
	line-height:14px;
	font-weight: 500;

}

.col1-3-pic-tall {
	width: 230px;
}

.col1-3-pic-abstand {
	padding: 30px 5px 30px 5px;

}
.col1-3-pic-abstand-last {
	padding: 0px 5px 95px 5px;
}


.col1-text-news {
	font-size: 14px;
	line-height:17px;
	padding-bottom: 15px;
	border-bottom: 1px solid #efefef;
	font-weight: normal;
}

.col1-article-abstand-unten {
	margin-bottom: 38px;

}
.col1-article-abstand-unten-col1 {
	margin-bottom: 44px;

}

.col1-text-abstand-oben {
	padding-top: 15px;

}

.col1-img {
	font-size: 14px;
	line-height:17px;
	padding-bottom: 15px;
	border-bottom: 1px solid #efefef;
	font-weight: normal;
}

h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 22px;
	padding-left: 25px;
}

h3 {
	text-transform: uppercase;
	color: #555555;
	font-size: 14px;
	padding-top:25px;
	padding-left: 25px;
}

#bgbild4 {
	background-image: url("img/ind/in_square_ad.jpg");
	background-size: 225px;
	margin: 15px;
}

/*Footerstyles */
#footerbg {
   width: 100%;
   background-color: #363636;
   float: left;
}
.footer {
  width: 1200px;
  margin: auto;
  padding-top: 25px;
  padding-bottom: 30px;

}

footer ul li a {
    font-size: 15px;
    color: #FFFFFF;
}

.font-weight-600 {
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.rowfooter {
  padding-top: 35px;
}
.li-dot {
  display: block;
}
.footer-nebneinander {
  float: left;
  padding-right: 35px;
  margin: auto;
  width: 150px;
}

.lastbox {
  padding-left:40px;
}
#footer-vierer-abstand {
  padding-bottom: 250px;
}

.social-icon {
  width: 25px;
  float: left;
	margin-right: 15px;
}
.social-height {
  height: 30px;
}
#footer-logo {
	width: 200px;
}

.footer-logo {
  float: left;
  padding-right: 35px;
  margin: auto;
  width: 250px;
	padding-top: 15px;
}
